[submodule "thirdparty/glfw"]
	path = thirdparty/glfw
	url = https://github.com/glfw/glfw.git
[submodule "thirdparty/glm"]
	path = thirdparty/glm
	url = https://github.com/g-truc/glm.git
[submodule "thirdparty/imgui_lib/imgui"]
	path = thirdparty/imgui_lib/imgui
	url = https://github.com/ocornut/imgui.git
