root = true
[*.{cpp,cc,cxx,h,hpp}]
indent_style = tab
indent_size = 4
tab_width = 4

insert_final_newline = true
trim_trailing_whitespace = true

charset = utf-8
end_of_line = lf

# Braces
cpp_new_line_before_open_brace = all

# Indentation
cpp_indent_block_contents = true
cpp_indent_braces = false
cpp_indent_case_contents = true
cpp_indent_switch_labels = true

# Includes
cpp_sort_includes = true

# Naming / style
cpp_style_pointer_reference_alignment = left

# Preserve compact formatting
cpp_preserve_single_line_statements = true
cpp_preserve_single_line_blocks = true